<main>
  <section class="userContainer">
        <h3 class="title">Perfil de Usuario</h3>
    <div>
      <ul class="listUser">
        <li><p><strong>Id: </strong>{{userId}}</p></li>
        <li><p><strong>Nombres: </strong>{{userName}}</p></li>
        <li><p><strong>Apellido: </strong>{{userLName}}</p></li>
        <li><p><strong>Email: </strong>{{userEmail}}</p></li>
        <li><p><strong>Role: </strong>{{userRole}}</p></li>
        <li><p><strong></strong></p></li>
      </ul>
    </div>
  </section>
</main>