<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{cssPlus}}">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  <link rel="stylesheet" href="/css/index.css">

</head>

<body>
  <header>
    <div class="title">
      <img src="/images/bike.png" alt="Logo Pagina" />
    <div>
      {{#if userName}}
        <a href="/user" class="userName">Bienvenido {{userName}}</a>
        <p class="userRole">{{userRole}}</p>
        <a id="logOut" href="">log out</a>
      {{/if}}
    </div>
    </div>
    <nav class="nav">
      <div class="navDiv">
        <ul>
          {{#unless userName}}<li> <a href="/">Inicio</a></li>{{/unless}}
          <li> <a href="/products">Productos</a></li>
          {{#if userName}}<li> <a href="/realTimeProducts">Tiempo Real</a></li>{{/if}}
          <li> <a href="/chat">Chat</a></li>
        </ul>
      </div>
      <div class="navDiv">
        <ul>
          {{#if userName}}<li> <a href="/cart">Carrito</a></li>{{/if}}
          {{#unless userName}}<li> <a href="/register">Registrarse</a></li>{{/unless}}
        </ul>
      </div>
    </nav>
  </header>

  {{{body}}}

  <footer>
    <div id="copyright">
    </div>
  </footer>

  <script src="/js/index.js"></script>
  {{#if userName}}<script src="/js/logout.js"></script>{{/if}}
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>